@import 'lib/_variables.less';
@import 'lib/index.less';

h1.hed {
  font-family: @headingFont;
  font-size: 2em;
  line-height: 1em;
  font-weight: 900;
  color: @fontColor;
  letter-spacing: -0.03em;
}

.subhed {
  h1&, h2&, h3&, h4&, h5&, h6& {
    margin: 3rem auto 1rem;
    font-size: 1em;
    font-weight: bold;
  }
}

p.intro,
.intro p {
  text-align: justify;
}
