
@import 'lib/_variables.less';
@import 'lib/index.less';

span.kicker {
  position: relative;
  margin: 5px;
  padding-top: 2em;
}


h1.hed {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.2em;
  margin-top: 1em;
  line-height: 1em;
  font-weight: normal;
  color: @fontColor;
  letter-spacing: -0.03em;
}

h1, h2, h3, h4, h5, h6 {
  width: @textWidth;
  max-width: 100%;
}

p.dek {

}


.subhed {
  h1&, h2&, h3&, h4&, h5&, h6& {
    margin: 3rem auto 1rem;
    font-size: 1em;
    font-weight: bold;
  }
}

p.intro,
.intro p {
  text-align: justify;
}

aside.editors-note {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.7em;
  text-align: center;
  font-style: 'light-italic';
  font-weight: 400;
  margin: 1rem auto;
  border-top: 1px;
  border-bottom: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ccc;
}
