@import "lib/_variables";

body {
  background-image: url(http://orig05.deviantart.net/633e/f/2012/076/3/f/salt_and_pepper_tiled_wallpaper_by_evolventity-d4t2c6f.png);
}

.page-title {
  position: relative;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}
