@import "lib/_variables";

body {
  background-image: "hairheadpattern.jpg";
  background-position: center;
  background-size: contain;
}

.page-title {
  position: relative;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}
