
<div id=dial-menu>

  <span class=open>&#9776;</span>

  <nav>
    <span class="close">&times;</a>
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/views">Views</a>
    <a href="/debate">The Debate</a>
  </nav>
</div>
