
<div id=dial-menu>

  <span class=open>&#9776;</span>

  <nav>
    <span class="close">&times;</a>
    <a href="/the-dial">Home</a>
    <a href="/the-dial/news">News</a>
    <a href="/the-dial/views">Views</a>
    <a href="/the-dial/debate">The Debate</a>
  </nav>
</div>


