<div id=dial-menu>

  <div class=bar>
    <div class=open>&#9776;</div>
    <div class=logo>The Dial</div>
  </div>

  <nav>
    <span class="close">&times;</span>
    <div class="menu-main">
    <a href="/">Home</a>
    <a href="/news">News</a>
    <a href="/views">Views</a>
    <a href="/debate">The Debate</a>
    </div>
   
    <div class="menu-meta>
    <a href="https://facebook.com/thedialmag"><img src="dial/fbicon.png" border="0" alt="Facebook" width="32" height="32"></a>
    <a href="https://twitter.com/thedialmag"><img src="dial/twttricon.png" border="0" alt="Twitter" width="32" height="32"></a>
    <a href="https://www.instagram.com/thedialmag"><img src="dial/instaicon.png" border="0" alt="Instagram" width="32" height="32"></a>
    </div>
   </nav>

</div>
