@import "lib/_variables";


#dial-menu {

  font-size: 16px;

  & {
    font-family: "Raleway", sans-serif;
    user-select: none;
  }

  .bar {
    position: fixed;
    top: 50px;
    left: -50px;
    background: @detailColor;
    z-index: 100000;
    padding: 6px;
    height: 50px;
    width: 150px;
    transition: transform .3s ease-out;
    border: none;
    transform: rotate(-90deg);
  }

  .bar a,
  .bar a:visited {
    text-decoration: none;
    color: white;
  }

  &:not(.active) .bar.hide {
    transform: translateY(-100%);
  }

  .logo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 100%;
    text-align: left;
    padding-left: 60px;
    padding-top: 2px;
    font-size: 20px;
  }

  .open {
    font-size: 20px !important;
    color: white;
    position: absolute;
    height: 100%;
    width: 50px;
    padding: 14px 3px;
    text-align: center;
    top: 0;
    left: 0;
  }

  .open:hover {
    color: white;
    background: none;
  }

  .open,
  .close {
    font-size: 2em;
    cursor: pointer;
    padding-left: 0.1em;
    z-index: 1;
    line-height: 1;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1em 1em 0.3em;
    font-size: 1.6em;
    height: 100%;
    width: 400px;

    color: white;
    background-color: @green;
    line-height: 1.4;
    font-family: @headingFont;
    font-weight: 600;
    box-shadow: 1px 1px 5px black;

    transform: translateX(-100%);
    transform-origin: 0 0;
    transition: transform 250ms ease-in;
    touch-action: pan-y;
    -webkit-user-drag: none;
    z-index: 1000002;
  }


  &.active nav {
    transform: none;
    transition: transform 150ms ease-in;
  }

  &.active .menu-social {
    animation: 1s ease-in 0s fadein 1;
    animation-delay: 9ms;
    animation-fill-mode:forwards;
    opacity: 0;
    opacity: 1;
    padding-top: 2em;
    font-size: 0.8em;
  }

  &.active .menu-meta {
    animation: 1s ease-in 0s fadein 1;
    animation-delay: 18ms;
    animation-fill-mode:forwards;
    opacity: 0;
    opacity: 1;
    padding-top: 2em;
    font-size: 0.7em;
  }

  &.active .legal {
    animation: 1s ease-in 0s fadein 1;
    animation-delay: 27ms;
    animation-fill-mode:forwards;
    opacity: 0;
    opacity: 1;
    font-family: @headingFont;
    position: absolute;
    bottom: 2em;
    font-size: 0.6em;
    text-decoration: underline;
  }

   .legal nav a {
    display: inline;
  }

  &:before {
    content: ' ';
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease-out, z-index 1s 0s ease-out;
  }

  &.active:before {
    z-index: 1000001;
    opacity: 1;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-left: 1rem;
    outline: none;
  }

  nav a:hover {
    color: @red;
  }

}

@keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}



@media (max-width: 800px) {
  #dial-menu {

    .bar {
      position: fixed;
      background: none;
      top: 0;
      left: 0;
      z-index: 100000;
      padding: 6px;
      height: 50px;
      width: 100%;
      transition: transform .3s ease-out;
      transform: none;
    }

    .logo {
      text-align: right;
      padding-right: 5px;
    }

    .bar:after {
      content: "";
      background: #000;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
  }
}
