@import "lib/_variables";

@import url('https://fonts.googleapis.com/css?family=Oswald:400');


body > header {

  & {
    font-family: "Raleway", sans-serif;
  }

  .bar {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 20px;
    height: 50px;
    background: black;
    color: white;
    transition: transform .3s ease-out;
    font-size: 16px;
    user-select: none;
    z-index: 10000;
  }

  html.scrolling-down & .bar {
    transform: translateY(-100%);
  }

  .logo {
    text-align: right;
    padding-right: 5px;
  }

  .bar a {
    text-decoration: none;
    color: white;
  }

  .open {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    font-size: 20px;
    cursor: pointer;
  }

  .open:hover {
    color: white;
    background: none;
  }

  .dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .dot {
    height: 5px;
    width: 5px;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
    border: 5px solid black;
  }
 
  .dot.active {
    background-color: white;
  }

  .logo {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 100%;
    font-size: 20px;
  }

  .close {
    font-size: 2em;
    cursor: pointer;
    padding-left: 0.1em;
    z-index: 1;
    line-height: 1;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1em 1em 0.3em;
    font-size: 1.6em;
    height: 100%;
    width: 400px;

    color: @fontColor;
    background-color: @lightGrey;
    line-height: 1.4;
    font-family: @headingFont;
    font-weight: 600;

    transform: translateX(-100%);
    transform-origin: 0 0;
    transition: transform 250ms ease-in;
    touch-action: pan-y;
    -webkit-user-drag: none;
    z-index: 1000002;
  }

  &:before {
    content: ' ';
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease-out, z-index 1s 0s ease-out;
  }

  &.active:before {
    z-index: 1000001;
    opacity: 1;
  }

  &.active nav {
    transform: none;
    transition: transform 150ms ease-in;
  }

  .menu-main,
  .menu-social,
  .menu-meta {
    transform: translateX(-100%);
    animation: 0.5s ease-in 0s slidein 1;
    animation-fill-mode:forwards;
  }

  .menu-social {
    animation-delay: 55ms;
    padding-top: 2em;
    font-size: 0.8em;
  }

  .menu-meta {
    animation-delay: 105ms;
    padding-top: 2em;
    font-size: 0.7em;
  }

  .menu-main {
    text-transform: uppercase;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-left: 1rem;
    outline: none;
    margin: 3px 0;
  }

  nav a:hover {
    color: @detailColor;
  }

  .legal {
    font-family: @headingFont;
    position: absolute;
    bottom: 2em;
    font-size: 0.6em;
    text-decoration: underline;
  }

}


@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
