@import "lib/_variables";
@import "fx/gradients";

html {
  font-family: @font;
  background-color: @backgroundColor;
}



.page-title {
  position: relative;
  z-index: 2;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 800px) {

  .hed-content {
    padding-left: 5em;
    padding-right: 5em;
    margin-left: -3em;
    margin-right: -3em;
  }

  .top-news h2 {
    margin-left: -2em;
    margin-right: -2em;
    font-size: 1.2em;
  }

  .top-news p {
    font-size: 0.9em;
    margin-left: -2em;
    margin-right: -2em;
  }


}

@media (max-width: 450px) {

  .top-news h2 {
    margin-left: -4em;
    margin-right: -4em;
    font-size: 1em;
  }

  .top-news p {
    font-size: 0.9em;
    margin-left: -4em;
    margin-right: -4em;
  }

  .news, .explainer, .debate, .views {
    margin-left: -1em;
    margin-right: -1em;
    padding-bottom: 2em;
  }


}

@media (min-width: 1200px) {
  .top-news, .news, .explainer, .debate, .views, .signup {
    margin-left: 5em;
    margin-right: 5em;
  }

  .signup {
    padding: 2em;
  }

}

//general styling

p {
  font-family: 'Lora', serif;
  font-color: gray;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1.hed {
  font-size: 3em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
}

h2 {
  font-size: 2em;
  margin: auto;
}

a {
  color: @fontColor;
  text-decoration: none;
}

a:hover {
  color: grey;
  transition: 0.5s;
}


// top stories


.top-news {
  padding-left: 5em;
  padding-right: 5em;
}

.hed-content {
  margin-top: 5em;
  border: 5px solid black;
  position: relative;
  padding-bottom: 2em;


}

#hed-details, #hed {
  line-height: 1;
    letter-spacing: -.02em;
}

#hed {
  font-size: 2em;
  text-align: center;
  position: relative;
  padding-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
  z-index: 2;
}

#hed-img {
  position: absolute;
  top: -3em;
  bottom: 0;
  left: -1.8em;
  right: 0;
  overflow: hidden;
  max-height: 35em;
  margin-top: 0em;
  z-index: 0;
  mask: url("mask.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 40em;
  opacity: 0.6;
  filter: blur(2px);
}

#hed-details {
  padding-top: 4em;
  z-index: 2;
  text-align: center;
  position: relative;
}

#hed-description {
  text-align: center;
  padding-top: auto;
  z-index: 2;
}

.hed-content:hover {

  h2 {
    color: white;
    background: @anchorColor;
    transition: 0.2s;
    text-decoration: underline;
  }

  #hed-details, #hed-description {
    opacity: 0;
    transition: 0.2s;

    #hed-img {
      opacity: 1;
      filter: none;
    }
  }
}

// news

.news {
  position: relative;
  background: white;
}

.newsarticle {
  margin-bottom: 2em;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
  float: right;
}

.newsarticle p {
  font-size: 0.85em;
}

.newsarticle h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
}

p.byline {
  font-size: 0.7em;
  color: grey;
  text-transform: uppercase;
}

.pubdate {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  color: grey;
  text-transform: uppercase;
  float: right;
}


// explainer

.explainer {
  background-color: white;
  margin-bottom: 2em;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}


// debate

.debate {
  background-color: @anchorColor;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1.5em;
}

.vs {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 3em;
}

.debate.text {
 text-align: center;
}

// views

.views {
  background: white;
}

// subscribe

.signup {
  padding-left: 1em;
}

h3 {
  font-size: 2em;
  padding-left: 2rem auto;
  padding-right: 7em;
  font-weight: bold;
  margin: auto;
}

figure.signup {
  margin-top: -20%;
  margin-right: -40%;
  position: relative;
  z-index: 1;
  max-width: 60%;
}

@media (max-width: 800px) {
  .signup {
    margin-left: 0;
}

  .signup h3 {
    padding-right: 0;
  }

  figure.signup {
    opacity: 0;

  }


}

#mailchimp {
  padding-bottom: 2em;
}

  #mailchimp input {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    font-size: 0.8em;
    margin-bottom: 1em;
    padding: 1em 1em 1em;
    width: 80%;
	}
		#mailchimp input.email { background: none; border: 1px solid grey; }
		#mailchimp input[type="submit"] {
      font-family: "Ubuntu", sans-serif;
      text-align: center;
      background: @anchorColor;
			color: white;
      font-weight: bold;
			font-size: 1em;
			width: 80%;

		}
			#mailchimp input[type="submit"]:hover {
        background-color: @anchorHoverColor;
      }
