@import "lib/_variables";
@import (inline) "./node_modules/slick-carousel/slick/slick.css";

body {
  margin-top: 2em;
}

article {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQoU2NkQAOf/n//z8fIyYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQAFGCfwqf1W7gAAAABJRU5ErkJggg==);
}

@media (max-width: 450px) {
  footer {
    margin-left: 0em !important;
  }
}

html {
  background-color: @backgroundColor;
}

@media (max-width: 450px) {
  .hed-details, .news, .viewsscroll, .list {
    padding-left: 1em;
    padding-right: 1em;
  }

  .newsarticle {
    border-bottom: 1px solid @lightGrey;
    margin-bottom: 0em;
  }

  .newsarticle p {
    margin-bottom: 1em;
  }

  .views h1 {
    padding-left: 0.3em;
  }

  .heading h1.hed {
    padding-left: 0.3em;
  }
}

@media (max-width: 800px) {
  .cover {
    height: 100%;
  }
}


@media (min-width: 800px) {
    .hed-content {
      padding-right: 1em;
      padding-top: 2em;
    }
}

//general styling

p {
  font-family: @bodyFont;
  font-color: gray;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headingFont;
  line-height: 95%;
  font-weight: 700;
}

h1.hed {
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  letter-spacing: -0.01em;
  padding-top: 0.5em;
  font-weight: 700;
  margin: 0.2em -100em;
  transform: translateX(1.6%);
}

.heading {
  color: white;
}

.heading h1.hed {
  font-size: 1em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin: auto;
}

a {
  color: @fontColor;
  text-decoration: none;
}

a p {
  color: #6b6b6b;
}


.newshover h2 {
  text-decoration-color: transparent;
}

.newshover:hover h2 {
  text-decoration: underline;
  text-decoration-color: @green;
  text-decoration-skip: ink;
  transition: 0.3s;
}

.heading, .hed-details, .news, .views, .explainer, .list {
   margin-left: auto;
   margin-right: auto;
}

// hero

.hero-container {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 7em);
  margin: 3em;
}

.hero-container .hero {
  width: 50%;
  margin: 1em;
}

@media (min-width: 450px) {
  .hero-container {
    margin-top: -1em;
  }
}
@media (max-width: 800px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 9em);
    margin: 3em;
  }

  .hero-container .hero {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .hero-container {
    margin: 0;
  }
}

.hero {
  margin: 4em;
  height: 80vh;
  //border-radius: 10px;
}

@media (max-width: 600px) {
  .hero {
    margin: 1em;
  }
  
  .hero-container {
    width: calc(100vw - 3em);
    margin: 0;
  }
}

.hero a {
  display: block;
  height: 100%;
}

.hero .cover {
  border-radius: 10px;
  position: relative;
  height: 100%;
  background-position: 50% 50% !important;
  max-width: none !important;
}

.hero .cover:before  {
   content: ' ';
  position: absolute;
  //border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  background: #000;
  -webkit-filter: opacity(0);
  filter: opacity(0);
} 

.hero:hover .cover:before {
  content: ' ';
 position: absolute;
 //border-radius: 5px;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: inherit;
 background: #000;
 -webkit-filter: opacity(0.5);
 filter: opacity(0.5);
 transition: 0.35s ease-in-out;
} 

.hero .shim {
  padding-top: 0 !important;
}

.hero .hed-details {
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 1em;
  bottom: 0;
  left: 0;
  text-align: left;
}

.hero .hed-details:before {
  content: ' ';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 0;
 background: linear-gradient(transparent, black 75%);
 //border-bottom-left-radius: 10px;
//border-bottom-right-radius: 10px;
  z-index: -1;
}

.hero.no-text .hed-details:before {
  content: none;
}

.hero h2 {
  display: inline;
  color: white;
  font-size: 3em;
  text-transform: uppercase;
}

.hero a {
  width: 75%;
}

.hero .byline {
  display: none;
}

@media (min-width: 1000px) {
   .hero h2 {
    font-size: 3em;
  }
}

@media (max-width: 800px) {
   .hero h2 {
    font-size: 2em;
  }

  .hero .dek {
    font-size: 1em;
  }
}


@media (max-width: 800px) {
  .hero {
    height: 75vh;
    max-height: none;
  }
}

@media (max-width: 450px) {
  .hero h2 {
    font-size: 2em;
  }

  .hero .dek {
    font-size: 0.9em;
  }
}

@media (min-width: 1600px) {
  .hero h2 {
    font-size: 4em;
  }
}

.hed-details:hover h2 {
  text-decoration: underline;
  text-decoration-color: @green;
  -webkit-text-decoration-color: @green;
  text-decoration-skip: ink;
}

.hero .folio {
  display: inline-block;
  position: relative;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1em;
  -webkit-transform: none;
  transform: none;
}

.hero .dek {
  margin-top: 1em;
  color: white;
  font-size: 1em;
  font-weight: normal;
  font-family: @bodyFont;
}

.hero .byline {
  margin-top: 0.8em;
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
}

@media (max-width: 450px) {
    .hero h2 {
    font-size: 2em;
  }

  .hero .dek {
    font-size: 0.8em;
  }
}


// feature

.feature-container {
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5em;
}

.feature {
  position: relative;
  box-shadow: 1px 1px 10px #8e8e8e;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  transition: transform .3s;
  height: 500px;
  width: 290px;
  overflow: hidden;
  z-index: 1;
}

.feature h2 {
  font-size: 2em;
  font-weight: 700;
  padding: 10px;
}

@media (max-width: 1045px) {
  .feature-container {
    width: 810px;
  }

  .feature {
    height: 390px;
    width: 225px;
  }

  .feature h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 800px) {
  .feature-container {
    width: 100%;
    margin-top: -3.5em;
  }

  .feature {
    height: 450px;
    width: 280px;
    margin-left: 1em;
    margin-right: 1em;
  }

  .feature h2 {
    font-size: 2em;
  }
}

.feature-title:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  background: black;
  filter: opacity(0.2);
}

.feature .feature-title {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: center;
  text-align: center;
  z-index: 1;
  color: white;
  font-size: 1em;
}

.feature .cover {
  height: 100%;
  background-position: 50% 50% !important;
}

@media (min-width: 800px) {
  .feature:hover {
    transform: scale(1.05);
  }
}

.slick-list {
    overflow: visible;
}

.slick-slide {
  width: 289px;
}

// news

.newsarticle {
  margin-bottom: 2em;
}

.newsarticle .cover {
  height: 200px;
  margin-top: 5px;
}

.newsarticle p {
  font-size: 0.9em;
}

.newsarticle h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
}

p.byline {
  color: @fontColor;
  font-size: 0.8em;
  font-family: @headingFont;
  font-weight: 200;
  text-transform: uppercase;
}

.pubdate {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  color: grey;
  text-transform: uppercase;
  float: right;
}

//lists

.list {
  margin-left: auto;
  margin-right: auto;
}

.list .listarticle {
  height: 220px;
  line-height: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid @lightGrey;
}

.listarticle h2 {
  font-size: 1.4em;
}

.list .newsinfo {
  padding-top: 1em;
}

@media (max-width: 700px) {
  .list p.dek {
    display: none;
  }
}

@media (max-width: 450px) {


  .list h2 {
    font-size: 1em;
    font-weight: 600;
  }

  .list .listarticle {
    padding-top: 0;
    height: 100px;
  }

  .list .newsinfo {
    padding-top: 0em;
  }
}

.list .listarticle .cover {
  margin-left: 0em;
  margin-right: 1em;
  position: relative;
  width: 35%;
  height: auto;
  max-height: 200px;
  margin-bottom: 2em;
  float: left;
  clear: both;
}

.list .newsarticle a {
  color: inherit;
  text-decoration: none;}

.list .newsarticle:hover{
  transition: 0.3s ease-in-out;
}



// subscribe

.signup {
  padding-left: 10%;
  padding-right: 10%;
  z-index: 10000;
  text-align: center;
  position: relative;
  box-shadow: none;

  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1000px;
}

.signup  h2 {
  text-transform: uppercase;
}

.signup:before {
    content: none;
}

.subscribe {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.subscribe h3 {
    font-size: 20px;
    font-weight: 300;
    margin: auto;
}

#mailchimp {
  max-width: 500px;
  padding-bottom: 2em;
  margin: 0 auto;
}

#mailchimp input {
  font-family: @headingFont;
  border: none;
  -webkit-appearance:none;
  -webkit-border-radius: 0;
}

#mailchimp input.email {
  border-bottom: 1px solid black;
  background: none;
  box-sizing: border-box;
  font: 18px 'proxima-nova',sans-serif;
  height: 40px;
  margin: 30px auto;
  padding: 10px 60px 10px 20px;
  width: 80%;
}

#mailchimp input[type="submit"] {
  position: relative;
  font-family: Oswald, sans-serif;
  background: none;
  color: black;
  float: right;
  top: -70px;
  right: 10%;
  height: 40px;
  width: 100px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  -webkit-appearance: none;
}

//misc

@media (min-width: 451px) {
  .newsarticle {
      margin-bottom: 3em;
  }
}

footer .social {
  margin-top: 1em;
}

  footer {
    overflow: hidden;
    max-height: 500px;
  }

  footer #mailchimp {
    margin-bottom: 0em !important;
  }

  footer .social {
    margin-bottom: 0;
  }

.top-news {
  margin-bottom: 0em;
}

body {
  padding: 0;
}

//hero modifiers


//2. Outline text

.outline h2 {
  text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hero.outline .folio,
.hero.outline .dek {
  display: none;
  background: none;
}

.outline .hed-details:hover h2 {
  -webkit-text-fill-color: white;
  text-decoration: none;
}

.feature.outline .feature-title:before,
.feature.blue .feature-title:before,
.hero.outline .cover:before,
.hero.text-left .cover:before {
  content: none;
  background: none;
}

.feature.blue h2,
.feature.outline h2 {
  font-size: 3.3em;
}

@media (max-width: 1000px) {
  .hero.outline h2 {
    font-size: 8em;
    -webkit-text-stroke-width: 1px;

  }
}

@media (min-width: 1000px) {
  .hero.outline h2 {
    font-size: 12em;
  }
}

@media (max-width: 600px) {
  .hero.outline h2 {
    font-size: 4em;
    -webkit-text-stroke-width: 1px;

  }
}

@media (min-width: 1600px) {
  .hero.outline h2 {
    font-size: 22em;
  }

  .hero.outline .hed-details {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 1045px) {
  .feature.blue h2,
  .feature.outline h2 {
    font-size: 3em;
  }
}
