@import url('https://fonts.googleapis.com/css?family=Lora|Ubuntu|Josefin+Sans:400,600');
@import "lib/_variables.less";

.kicker {
  color: white;
  font-size: 0.85em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  text-transform: uppercase;

}

span.kicker {
  background-color: @anchorColor;
  border-radius: 3px;
  padding: 0.3em;
}
