@import url('https://fonts.googleapis.com/css?family=Oswald|Lora|Ubuntu|Raleway:500,600,700,900');

@import "lib/_variables.less";
@import "header";

span.kicker {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: @anchorColor;
  font-size: 0.75em;
  margin-bottom: 2em;
}
