@import url('https://fonts.googleapis.com/css?family=Oswald|Lora|Ubuntu|Josefin+Sans:400,600');
@import "lib/_variables.less";


span.kicker {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #416788;
  font-size: 0.8em;
  padding-left: 2px;
}
