@import "lib/_variables";

html {
  font-family: @font;
  background-color: @backgroundColor;
}

body {
  padding-bottom: 0;
}

p {
  font-family: @bodyFont;
  font-color: gray;
  font-size: 1em;
  line-height: 1.5em;
  margin: 1rem auto;
  max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headingFont;
  line-height: 95%;
  font-weight: 700;
  margin: 5rem auto 2rem auto;
}

h1.hed {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: -0.01em;
  padding-top: 0.5em;

}

h2 {
  font-size: 2em;
  font-weight: 000;
  margin: auto;
  padding-top: 1em;
}

a {
  color: @anchorColor;
  text-decoration: underline;
}

a p {
  color: #6b6b6b;
}

a:hover {
  color: @green;
  transition: 0.5s;
}

.about {
  margin-bottom: 2em;
}

.about,
.masthead {
  padding: 0 1em;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  font-size: 1.5em;
}

.masthead h2 {
  text-transform: uppercase;
  text-align: left;
  border-top: 1px solid @lightGrey;
  margin-bottom: 1em;
}


.member {
  background: white;
  color: @fontColor;
}

.member .start {
  font-style: italic;
  color: black;
}

.member p {
  color: grey;
}

.member a {
  color: @fontColor;
}

.member a:hover {
  color: @green;
}

//mailchimp

#mailchimp {
  max-width: 500px;
  padding-bottom: 2em;
  margin: 0 auto;
}

#mailchimp input {
  font-family: @headingFont;
  border: none;
  -webkit-appearance:none;
  -webkit-border-radius: 0;
}

#mailchimp input.email {
  border-bottom: 1px solid black;
  background: none;
  box-sizing: border-box;
  font: 18px 'proxima-nova',sans-serif;
  height: 40px;
  margin: 30px auto;
  padding: 10px 60px 10px 20px;
  width: 80%;
}

#mailchimp input[type="submit"] {
  position: relative;
  font-family: Oswald, sans-serif;
  background: none;
  color: black;
  float: right;
  top: -70px;
  right: 10%;
  height: 40px;
  width: 100px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  -webkit-appearance: none;
}
