@import "lib/_variables";

article:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20em;
  background: @detailColor;
  z-index: -1;
}

body {
  padding-top: 0;
  padding-bottom: 0;
}

article {
  margin: 0;
}

article:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 150vw;
  height: 100vh;
  background: @backgroundColor;
}

.none {
  display: none;
}

h1.hed {
  margin-top: 1.5em;
  font-family: @headingFont;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

h2 {
  font-family: @headingFont;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: @detailColor;
  text-decoration-skip: ink;
}

.heading {
  text-align: center;
  line-height: 3em;
}

.heading p {
  font-family: @headingFont;
  font-weight: 400;
  font-size: 1.2em;
  color: white;
  line-height: 1;
}

mark {
  color: #FF0AC9;
  padding: 0 7px;}

.publication-date {
  font-size: 12px;
  text-transform: uppercase;
}

.cover {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.tidbit {
  padding-bottom: 1em;
}

@media (max-width: 800px) {
  .index .tidbit {
    border-bottom: 1px solid @lightGrey;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: left;
  }

  .index .tidbit h2 {
    margin-top: -0.5em;
  }

  .cover {
    float: left;
    margin-right: 1em;
    clear: both;
  }
}

.index {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;

  max-width: 1000px;
  text-align: center;
}

.index h3 {
  font-family: @headingFont;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: -0.01em;
  padding-top: 0.5em;
  font-weight: 700;
}

#mailchimp {
  max-width: 600px;
  padding-bottom: 2em;
  margin: 0 auto;
}

  #mailchimp input {
    font-family: @headingFont;
    border: none;
    -webkit-appearance:none;
    -webkit-border-radius: 0;
	}

		#mailchimp input.email {
      border: none;
      background: #fff;
      box-sizing: border-box;
      font: 18px/30px Arial, sans-serif;
      height: 40px;
      margin: 30px auto;
      padding: 10px 60px 10px 20px;
      width: 90%;
    }

    #mailchimp input[type="submit"] {
      position: relative;
      font-family: @headingFont;
      background: @red;
      float: right;
      top: -5em;
      height: 40px;
      width: 140px;
      text-transform: uppercase;
      font-weight: 400;
			font-size: 14px;
      border-radius: 4rem;
      -webkit-appearance:none;
      transition: 0.1s ease-in;
		}

	#mailchimp input[type="submit"]:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 5px #14453D;
    }

@media (max-width: 700px) {
  #mailchimp {
    width: 90%;
  }
}
